/*CSS page for CT310 Project 1: Ingredients For You*/

body, html {
	font-family: "Dosis", sans-serif;
	font-size: 20px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #ffeedb;
}

/* Jumbotron */
.jumbotron {
	background: url("jumbotron.jpg");
	background-position: center; 
	margin-bottom: 0px;
}

.jumbotron h1{
	font-family: "Covered By Your Grace", cursive;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.ingredient_title {
        font-family: "Covered By Your Grace", cursive;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

a:hover {
	text-decoration: none;
}

/* Nav */
.nav, .navbar-header {
	background-color: #A6D49F;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.glyphicon .glyphicon-menu-hamburger{
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.nav a{
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.nav .lemongrass-link>a:hover{
	background-color: #e03c23;
}

.nav .wasabi-link>a:hover{
	background-color: #ED9B40;
}

.nav .capers-link>a:hover, .nav .home-link>a:hover{
	background-color: #61C9A8;
}

/* Footer */
.footer {
	background-color: #A6D49F;
	width: 100%;
	height: 45px;
        text-align: center;
        color: #ffffff;
        padding: 0px;
        margin: 0px;
}

.content-links a {
    text-decoration: none;
}

.content-links a:hover {
    text-decoration: none;
    color: #e03c23;
}

.footer a{
    text-decoration: none;
}
    
.footer a:hover {
    color: #ED9B40;
}

/* Content */

.ingredient-image img{
       
        width: 304px;
        height: 228px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}

.content {
	background-color: #ffeedb;
	padding: 15px;
}

.lemongrass-container {
	background-color: #e03c23;
}

.wasabi-container {
	background-color: #ED9B40;
}

.capers-container {
	background-color: #61C9A8;
}

.homepage{
	text-align: center;
}

.lemongrass-image{
	background-image: url("./Ingredient Pages/lemongrass.jpg");
	background-size: cover;
	margin-bottom: 10px;
}

.wasabi-image {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Fresh_wasabi_rhizomes.jpg");
        background-size: cover;
        margin-bottom: 10px;
}

.capers-image {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Salted_capers.jpg");
        background-size: cover;
        margin-bottom: 10px;
}

.ingredient-text{
        padding: 30px;
}

.credit {
    font-size: 12px;
}

.credit a{
    text-decoration: none;
}
.credit a:hover{
    color: #e03c23;
}

/* About Us */

.about-us {
        padding: 15px;
}

.about-text {
        padding: 30px 30px 30px 30px;
        margin-left: 20%;
        margin-right: 20%;
}

.katie-text {
       background-color: #ED9B40; 
}

.courtney-text {
        background-color: #61C9A8;
}

.about-us h1{
        font-family: "Covered By Your Grace", cursive;
	color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.img-aboutus {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Commenting */
.message hr{
        margin: 5px;
}
.username {
        font-weight: bold;
        font-size: 15px;
}

.comment {
    font-size: 15px;
}

.signed-in{
	font-size: 15px;
	padding: 5px;
}

.form-group{
	margin:0px;
}

.commenting {
	margin: 30px;
}

/* Homepage */
.homepage-images{
	padding: 30px;
}
